<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<!-- performance profiling - appstate -->

	<filter>
		<filter-name>appstats</filter-name>
		<filter-class>com.google.appengine.tools.appstats.AppstatsFilter</filter-class>
		<init-param>
			<param-name>logMessage</param-name>
			<param-value>Appstats available: /appstats/details?time={ID}</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>appstats</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>appstats</servlet-name>
		<servlet-class>com.google.appengine.tools.appstats.AppstatsServlet</servlet-class>
	</servlet>
	<!-- END performance profiling - appstate -->

	<servlet>
		<servlet-name>main</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:ioc/main-servlet.xml</param-value>
		</init-param>
	</servlet>

	<!-- performance profiling - appstate -->
	<servlet-mapping>
		<servlet-name>appstats</servlet-name>
		<url-pattern>/appstats/*</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<url-pattern>/appstats/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	<!-- END performance profiling - appstate -->

	<servlet-mapping>
		<servlet-name>main</servlet-name>
		<url-pattern>/app/*</url-pattern>
	</servlet-mapping>
</web-app>